@font-face {
    font-family: "Barlow";
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Barlow"),
         /* Если не получилось, загрузит woff2 */
         /* url("../fonts/Barlow-Light.otf") format("opentype"), */
         url("../fonts/Barlow-Light.otf") format("opentype"),
}

body {
    font-family: "Barlow";
}

.wrapper {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFF6FF;
}

.wrapper__container {
    background-color: #EFF6FF;
    display: flex;
    box-shadow: 0 0 50px 10px  #1e57904b;
}

.wrapper-container__left {
    display: flex;
    max-width: 500px;
}

.wrapper-container__left img {
    object-fit: contain;
    width: 100%;
}

.wrapper-container__right {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-container-right__title {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 20px;
    color: #2A4A5C
}

.wrapper-container-right__subtitle {
    margin-bottom: 40px;

    font-weight: 500;
    color: #7B8A92;
}

.wrapper-container-right__another-way {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.wrapper-container-right__another-way button {
    padding: 10px 0;
    flex: 1;
    cursor: pointer;
    border: none;
    
    color: white;
    font-size: 10px;
}

.fb {
    position: relative;
    background-color: #255A9B;
}


.in {
    position: relative;
    background-color: #0076B6 ;
}

.in span,
.fb span {
    position: absolute;
    left: 10px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
    font-weight: 700;
}

.fb span {
    left: 15px
}

.wrapper-container-right__interval {
    display: flex;
    gap: 5px;
    align-items: center;
    max-width: 200px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 40px;

    font-size: 10px;
    color: #2A4A5C;
    font-weight: 600;
}

.wrapper-container-right__interval span {
    position: relative;
    top: 1px;
    flex: 1;
    background-color: #7b8a9276;
    height: 0.5px;
}

.wrapper-container-right__email-phone {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.wrapper-container-right__email-phone div {
    position: relative;
    flex: 1;
}

.wrapper-container-right-email-phone__input {
    padding: 20px 5px 5px 5px;
    border: 1px solid #7b8a9235;
    background-color: transparent;
    width: 100%;
    transition-duration: .2s;

    font-size: 10px;
}

.wrapper-container-right-email-phone__input:focus {
    border-left-color: #96A5B1;
}

.wrapper-container-right-email-phone__placeholder {
    position: absolute;
    top: 5px;
    left: 5px;

    font-size: 10px;
    color: #7B8A92;
    font-weight: 600;
}

.wrapper-container-right__form-title {
    margin-bottom: 13px;

    font-weight: 700;
    font-size: 17px;
    color: #2A4A5C
}

.wrapper-container-right__form-subtitle {
    margin-bottom: 40px;
    font-weight: 500;
    color: #7B8A92;
    font-size: 13px;
}

.wrapper-container-right__investors {
    display: flex;
    gap: 20px;
}

input[type='radio'],
input[type='checkbox'] {
    display: none;
}

.wrapper-container-right-investors__investor {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}


.wrapper-container-right-investors__investor label {
    display: flex;
    gap: 10px;

    font-size: 13px;
    font-weight: 600;
}

.wrapper-container-right-investors__investor label div {
    border: 2px solid #7b8a9235;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.wrapper-container-right-investors__investor label input:checked ~ div{
    border: 4px solid #0076B6;
}   

.wrapper-container-right-investors-investor__btn {
    border: 1px solid #7B8A92;
    cursor: pointer;
    width:8px;
    height: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #7B8A92;
    font-size:7px;
}

.wrapper-container-right-investors-investor__info {
    position: absolute;
    left: 0;
    top: 30px;
    width: 210px;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    background-color: #EFF6FF;
    box-shadow: 0 3px 10px 1px  #1e579022;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition-duration: .2s;

    color: #7B8A92;
    font-size: 12px;
}

.wrapper-container-right-investors-investor__btn:hover ~ p {
    visibility: visible;
    opacity: 1;
}

.wrapper-container-right__investors li:nth-last-child(1) .info,
.wrapper-container-right__investors li:nth-last-child(2) .info{
    right: 0;
    left: auto;
}


.wrapper-container-right__agreement {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 4px;
    
    font-size: 11px;
    color: #7B8A92;
}

.wrapper-container-right-agreement__text a {
    color: #0076B6;
    text-decoration: underline;
}

.wrapper-container-right__agreement div {
    display: flex;
    width: 8px;
    height: 8px;
    border: 1px solid #7b8a9235;
}

.wrapper-container-right__agreement input:checked ~ div {
    border: 3px solid #0076B6;
}

.wrapper-container-right__create-btn {
    background-color: #0b92db;
    border: none;
    border-radius: 4px;
    padding: 10px 50px;
    margin-top: 40px;
    cursor: pointer;

    font-weight: 500;
    color: white;
}